.form {
  position: relative;
}

.position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  text-align: center;
  padding: 16px;
  border-bottom: 2px solid #fec7ff;
  margin-bottom: 32px;
}

@media screen and (max-width: 299px) {
  .heading {
    font-size: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .position {
    flex-direction: column;
  }
}
