/* Styles for content */
.bookingDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 48px;
}

.header3 {
  padding: 16px;
  border-bottom: 2px solid #fec7ff;
}

.body {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-bottom: 1px solid #ccc;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0;
}

.comment {
  flex-direction: column;
}

.cell {
  flex: 1;
  padding: 8px;
}

.footer {
  padding: 16px;
  border-bottom: 2px solid #fec7ff;
}

.warning {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 900;
}

/* Styles for responsiveness */
@media screen and (max-width: 370px) {
  .header2 {
    font-size: 24px;
  }
  .header3 {
    font-size: 18px;
  }
}

@media screen and (max-width: 599px) {
  .row {
    flex-direction: column;
  }
}
