.container {
  margin: 32px 120px;
  display: flex;
  justify-content: space-around;
}

.logo {
  color: #fec7ff;
  text-decoration: underline;
  margin-bottom: 112px;
}

.heading {
  max-width: 608px;
  margin-bottom: 112px;
}

summary {
  cursor: pointer;
  list-style: none;
  padding-bottom: 20px;
  width: fit-content;
  outline: none;
}

details {
  margin-bottom: 32px;
}

li {
  padding-bottom: 10px;
}

.bubble {
  margin-left: -100px;
  height: 800px;
  z-index: -1;
}
